header {
    inline-size: 100%;
    block-size: 97px;
    background-color: var(--bg-header);
    border: 1px solid var(--header-border);
    padding-inline: 150px;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(4, max-content);
    align-items: center;
}

.logo {
    fill: var(--logo-main-color);
    margin-inline-end: 76px;
}

.topButton {
    background-color: var(--top-button-bg);
    color: var(--top-text-colorButton);
}

.buttonSpan {
    color: var(--top-text-colorButton);
}

.logoColor {
    fill: var(--logo-second-color);
}

.headerContainer {
    display: grid;
    grid-auto-flow: column;
}

@media(max-width: 1640px) {
    header {
        padding-inline: 10px;
    }
}

@media(max-width: 1280px) {
    header {
        padding-inline: 0;
    }
}

@media(max-width: 1080px) {
    .logo {
        margin-inline-end: 35px;
    }
}