header {
  inline-size: 100%;
  block-size: 97px;
  background-color: var(--bg-header);
  border: 1px solid var(--header-border);
  padding-inline: 150px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  fill: var(--logo-main-color);
  margin-inline-end: 76px;
}

.topButton {
  background-color: var(--top-button-bg);
  color: var(--top-text-colorButton);
}

.buttonSpan {
  color: var(--top-text-colorButton);
}

.logoColor {
  fill: var(--logo-second-color);
}

.logoMenuContainer {
  display: flex;
}

.headerContainer {
  display: flex;
  align-items: center;
}

.menu {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  column-gap: 64px;
  grid-template-columns: repeat(5, max-content);
  inline-size: max-content;
}

.menuButton {
  font-family: var(--font-main), 'sans-serif';
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 18px;
  border: none;
  text-decoration: none;
  background-color: transparent;
  inline-size: max-content;
}

.menuButton:hover {
  border-bottom: 1px solid var(--color-main-text);
  color: var(--color-main-text);
}

@media (max-width: 1640px) {
  header {
    padding-inline: 10px;
  }
}

@media (max-width: 1280px) {
  header {
    padding-inline: 0;
  }
  .menu {
    column-gap: 50px;
  }
}

@media (max-width: 1080px) {
  .logo {
    margin-inline-end: 35px;
  }
  .menu {
    column-gap: 20px;
  }
}

@media (max-width: 1024px) {
  .logo {
    margin-inline-end: 15px;
  }
}

@media (max-width: 768px) {
  header {
    padding-inline: 50px;
  }
  .headerContainer {
    column-gap: 0px;
    align-items: center;
  }
  .menu {
    display: none;
  }
  .headerContainer .topButton {
    display: none;
  }
}

@media (max-width: 391px) {
  header {
    padding-inline: 26px;
  }
}
