.container {
  display: grid;
  grid-auto-flow: row;
  row-gap: 21px;
  padding-block: 27px;
  padding-inline-start: 17px;
}

.brandItem {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  position: relative;
}

.checkbox {
  inline-size: 24px;
  block-size: 24px;
  background-color: var(--bg-main);
  border: 0.5px solid var(--border-modal);
  margin: 0;
  cursor: pointer;
  appearance: none;
  -webkit-appearance: none;
  position: relative;
}

.checkbox:checked {
  background-color: var(--bg-main);
  border-color: var(--border-modal);
}

.checkbox:checked::before {
  content: '';
  position: absolute;
  background-color: var(--bg-button-apply);
  inset: 1px;
}

.label {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 18px;
  line-height: 14px;
  color: var(--color-main-text);
  cursor: pointer;
}

@media (max-width: 769px) {
  .container {
    max-block-size: 220px;
    overflow-y: auto;
    overflow-x: hidden;
    min-inline-size: 150px;
  }
  .container::-webkit-scrollbar {
    width: 1px;
  }
  .container::-webkit-scrollbar-thumb {
    background: var(--bg-button-apply);
    border-radius: 10px;
    border: none;
    opacity: 0.5;
  }
}
