.productContainer {
    display: grid;
    justify-items: center;
    font-family: var(--font-second);
    font-weight: 400;
    font-size: 16px;
}

.productTitle {
    margin-block-start: 23px;
    text-align: center;
}

.productBrand {
    margin-block-start: 9px;
    color: var(--brand-text-color);
}

.productPrice {
    margin-block-start: 23px;
    font-size: 18px;
}

@media(max-width: 768px) {
    .productTitle {
        text-align: center;
        margin-block-start: 3px;
    }
    .productBrand {
        margin-block-start: 12px;
    }
    .productPrice {
        margin-block-start: 9px;
    }
}