.textSection {
  padding-inline: 150px;
  padding-block-start: 53px;
}

.textContainer {
  display: grid;
  row-gap: 25px;
  margin-block-end: 63px;
}

.buttonContainer {
  position: relative;
  margin-block-start: 53px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(3, max-content);
  justify-items: start;
  column-gap: 16px;
}

.title {
  font-family: var(--font-second);
  font-weight: 500;
  font-size: 28px;
  color: var(--color-main-text);
}

.catalog {
  font-family: var(--font-second);
  font-weight: 400;
  font-size: 16px;
  color: var(--color-main-text);
}

.containerSection {
  margin-block-start: 63px;
  margin-block-end: 150px;
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: repeat(3, 1fr);
  gap: 69px;
  justify-items: center;
  padding-inline: 150px;
}

.containerItem {
  padding-inline: 30px;
  inline-size: 494px;
  block-size: 394px;
  display: grid;
  justify-items: center;
}

.productCustomImage {
  inline-size: 430px;
  block-size: 258px;
}

@media (max-width: 1640px) {
  .productCustomImage {
    inline-size: 350px;
    block-size: 200px;
  }

  .containerItem {
    inline-size: 350px;
    block-size: 336px;
    padding: 0;
  }
  .containerSection {
    padding-inline: 75px;
  }
}

@media (max-width: 1280px) {
  .containerSection {
    padding: 0;
    gap: 30px;
  }
}

@media (max-width: 1080px) {
  .containerSection {
    gap: 0;
  }
}

@media (max-width: 1024px) {
  .containerItem {
    inline-size: 300px;
    block-size: 300px;
  }
  .productCustomImage {
    inline-size: 300px;
    block-size: 170px;
  }
  .containerSection {
    gap: 10px;
  }
}

@media (max-width: 768px) {
  .containerSection {
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
    padding-inline: 24px;
  }
  .buttonContainer {
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    row-gap: 20px;
  }
}

@media(max-width: 426px) {
  .containerSection {
    grid-template-columns: 1fr;
    row-gap: 30px;
  }
  .textSection {
    padding-inline: 26px;
  }
}

@media(max-width: 321px) {
.containerSection {
  padding-inline: 10px;
}
}