.menu {
  display: grid;
  grid-auto-flow: column;
  column-gap: 64px;
  grid-template-columns: repeat(5, max-content);
  inline-size: max-content;
  margin-inline-end: 188px;
}

.menuButton {
  font-family: var(--font-main), 'sans-serif';
  font-weight: 400;
  color: var(--main-text-color);
  font-size: 18px;
  border: none;
  background-color: transparent;
  inline-size: max-content;
}

.menuButton:hover {
  border-bottom: 1px solid var(--color-main-text);
  color: var(--color-main-text);
}

@media(max-width: 1640px) {
  .menu {
    margin-inline-end: 290px;
  }
}

@media(max-width: 1280px) {
  .menu {
    margin-inline-end: 0;
    column-gap: 50px;
  }
}

@media(max-width: 1080px) {
  .menu {
    column-gap: 20px;
  }
}

